*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
    padding-left: 170px;

}

/* .gallery{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    gap: 10px;
    

}
.gallery img{
    width: 100%;
    width: 250px; 
    height: 200px;
    object-fit: cover;
} */


.gallery {
    display: flex;
    flex-wrap: wrap; /* Allows images to wrap to new lines */
    gap: 10px; /* Adds space between images */
  }
  
  .gallery img {
    width: 250px;
    height: 200px;
    object-fit: cover;
  }
  

  h1{
    padding-left: 600px;
    padding-top: 30px;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    overflow: hidden;
  }